.nav-container {
  display: flex;
  height: 92px;
  align-items: center;
  background: #1d2020;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.36);
  justify-content: space-between;
  z-index: 99;
}

.scrolldown {
  font-family: "poppins";
  font-size: 25px;
  text-decoration: solid;
  line-height: 1.3rem;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  margin-right: 40px;
}

.flash-logo {
  margin-left: 16px;
  height: 40px;
}

.flash-logo-text {
  font-family: "Bangers", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  margin-left: 0 10px;
  color: #e7e6e7;
}

.nav-aam-link {
  font-size: 32px;
  color: #e7e6e7;
  font-weight: 800;
}

.nav-aam-link {
  color: aqua;
  font-family: "Poppins", sans-serif;
}

.nav-aam-link:hover {
  cursor: pointer;
  color: brown;
  text-shadow: chartreuse;
  text-decoration-color: cornflowerblue;
  text-shadow: darkgreen;
  text-decoration-line: none;
}
